<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
        <h2>Register</h2>
        <p id="error-message"></p>
        <form method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"
                value="{{ request.form.get('username', '') }}"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"
                value="{{ request.form.get('password', '') }}"><br>
            <label for="password-confirm">Confirm Password:</label><br>
            <input type="password" id="password-confirm" name="password-confirm"
                value="{{ request.form.get('password-confirm', '') }}"><br><br>
            <input type="submit" value="Register">
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login
                here</a></p>

        <script
            src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>
